<form class="form" {{action "createMembership" on="submit"}}>
  <div class="form-field form-field--inline">
    {{input
        type="text"
        placeholder="Enter username or email"
        value=newMemberIdentifier
        class="form-control"
        autofocus="true"}}
  </div>
  <div class="form-field form-field--inline">
    <button type="submit" class="btn btn--primary">Add member</button>
  </div>
  {{error-list errors=errors}}
</form>

<table class="table">
  <thead>
    <tr>
      <td>Person</td>
      <td>Role</td>
    </tr>
  </thead>
  {{#each team.memberships as |membership|}}
    <tr>
      <td>
        <img src="{{membership.user.avatar_url}}" class="avatar avatar--xs">
        {{membership.user.nickname}}
      </td>
      <td>
        {{membership.role}}
      </td>
    </tr>
  {{/each}}
</table>
