<form class="form" {{action "updateProject" on="submit"}}>

  {{error-list errors=errors}}

  <div class="form-field">
    <label>Name</label>
    {{input type="text" value=project.nickname class="form-control" autofocus="true"}}
  </div>

  <div class="form-field">
    <label>Description</label>
    {{textarea value=project.description class="form-control"}}
  </div>

  <div class="form-field">
    <label>Repository URL</label>
    {{input type="url" value=project.git_url class="form-control form-control--max"}}
  </div>

  <div class="form-field">
    <button type="submit" class="btn btn--primary">Save</button>
  </div>

  <div class="form-field form-field--separator"></div>

  <div class="form-field">
    <button type="button" class="btn btn--danger">Delete {{project.name}}</button>
  </div>

</form>
