<form class="form" {{action "updateProject" on="submit"}}>

  {{error-list errors=errors}}

  <div class="form-field">
    <label>Icon</label>
    {{avatar-form-control
        url=project.avatar_url}}
  </div>

  <div class="form-field">
    <label>Name</label>
    {{input type="text" value=project.nickname class="form-control" autofocus="true"}}
  </div>

  <div class="form-field">
    <label>Description</label>
    {{textarea value=project.description class="form-control"}}
  </div>

  <div class="form-field">
    <label>
      Repository URL
      {{#if project.buildbot_job_id}}
        <div class="form-field-dot form-field-dot--success" title="{{project.buildbot_job_id}}"></div>
      {{else}}
        <div class="form-field-dot form-field-dot--error"></div>
      {{/if}}
    </label>
    {{input type="url" value=project.git_url class="form-control form-control--max"}}
    <div class="form-field-help">
      Enter the URL to this project's Git repository to enable build integrations.
    </div>
  </div>

  <div class="form-field">
    <label>Default translation branch</label>
    {{input type="text" value=project.translation_branch class="form-control"}}
  </div>

  <div class="form-field">
    <button type="submit" class="btn btn--primary">Save</button>
  </div>

  <div class="form-field form-field--separator"></div>

  <div class="form-field">
    <button type="button" class="btn btn--danger">Delete {{project.name}}</button>
  </div>

</form>
