<form class="form" {{action "createMembership" on="submit"}}>
  <div class="form-field form-field--inline">
    {{input
        type="text"
        placeholder="Enter username, email, or domain"
        value=newMemberIdentifier
        class="form-control"
        required="true"
        autofocus="true"}}
  </div>
  <div class="form-field form-field--inline">
    <button type="submit" class="btn btn--primary">Add member</button>
  </div>

  {{error-list
      margin="bottom"
      errors=errors}}
</form>

{{#if team.is_empty}}

  <div>The project team is empty. Only you can view the project.</div>

{{else}}

  {{#if team.domains}}
    {{membership-table
        caption="Domain"
        class="margin--bottom"
        project=project
        roles=domainRoles
        team=team
        updateMembership="updateMembership"
        memberships=team.domains}}
  {{/if}}

  {{#if team.users}}
  {{userRoles}}
    {{membership-table
        caption="Person"
        project=project
        roles=userRoles
        team=team
        updateMembership="updateMembership"
        memberships=team.users}}
  {{/if}}

  <div class="margin--top">
    <b>{{owner-chip owner=project.owner class="inline"}}</b> is the project owner.
  </div>

{{/if}}
