<form class="form" {{action "createMembership" on="submit"}}>
  <div class="form-field form-field--inline">
    {{input
        type="text"
        placeholder="Enter username or email"
        value=newMemberIdentifier
        class="form-control"
        required="true"
        autofocus="true"}}
  </div>
  <div class="form-field form-field--inline">
    <button type="submit" class="btn btn--primary">Add person</button>
  </div>

  {{error-list
      margin="bottom"
      errors=errors}}
</form>

<table class="table">
  <thead>
    <tr>
      <td>Person</td>
      <td>Role</td>
      <td></td>
    </tr>
  </thead>
  {{#each team.users as |membership|}}
    <tr>
      <td>
        <img src="{{membership.user.avatar_url}}" class="avatar avatar--xs">
        {{membership.user.email}}
      </td>
      <td>
        {{role-select role=membership.role}}
      </td>
      <td>
        <div class="form-control-x" {{action "deleteMembership" team membership}}>✕</div>
      </td>
    </tr>
  {{/each}}
</table>
