<form class="form" {{action "createProject" on="submit"}}>
  <div class="form-field">
    <label>Owner</label>
    <div>
      <label class="form-control form-field-inline-label">
        {{radio-button
            name="owner_nickname"
            value=me.nickname
            checked=owner_nickname}}
        {{owner-chip owner=me hide_link=true class="inline"}}
      </label>
    </div>
    {{#each orgs as |org|}}
    <div>
      <label class="form-control form-field-inline-label">
        {{radio-button
            name="owner_nickname"
            value=org.nickname
            checked=owner_nickname}}
        {{owner-chip owner=org hide_link=true class="inline"}}
      </label>
    </div>
    {{/each}}
  </div>

  <div class="form-field">
    <label>Name</label>
    {{input
        type="text"
        value=project.nickname
        class="form-control"
        required="required"}}
  </div>

  <div class="form-field">
    <label>Repository URL</label>
    {{input
        type="url"
        value=project.git_url
        class="form-control form-control--max"
        placeholder="https://example.com/project.git"}}
    <div class="form-field-help">
      Enter the URL to this project's Git repository to enable build integrations.
    </div>
  </div>

  <div class="form-field">
    <label>Description</label>
    <textarea class="form-control" value=description></textarea>
  </div>

  <div class="form-field form-field--last">
    <button type="submit" class="btn btn--primary">Create</button>
  </div>

  {{#if errors}}
    {{error-list
      class="margin--top"
      errors=errors}}
  {{/if}}
</form>
