<form class="form" {{action "createProject" on="submit"}}>
  <div class="form-field">
    <label>Owner</label>
    {{input type="text" value=project.owner.nickname class="form-control" autofocus="true"}}
    {{owner-select owners=owners me=me}}
  </div>

  <div class="form-field">
    <label>Name</label>
    {{input type="text" value=project.nickname class="form-control"}}
  </div>

  <div class="form-field">
    <label>Repository URL</label>
    {{input type="text" value=project.git_url class="form-control" placeholder="https://example.com/project.git"}}
    <div class="form-field-help">
      Enter the URL to this project's Git repository to enable build integrations.
    </div>
  </div>

  <div class="form-field">
    <label>Description</label>
    <textarea class="form-control" value=description></textarea>
  </div>

  <div class="form-field">
    <button type="submit" class="btn btn--primary">Create</button>
  </div>

  {{#each error in errors}}
    <p>{{error.detail}}</p>
  {{/each}}

</form>
