<form class="form" {{action "updateUser" on="submit"}}>

  <div class="form-field">
    <label>Username</label>
    {{input type="text" value=user.nickname class="form-control" autofocus="true"}}
  </div>

  <div class="form-field">
    <label>Name</label>
    {{input type="text" value=user.name class="form-control"}}
  </div>

  <div class="form-field">
    <label>Location</label>
    {{input type="text" value=user.location class="form-control"}}
  </div>

  <div class="form-field">
    <button type="submit" class="btn btn--primary">Save</button>
  </div>

  {{#each error in errors}}
    <p>{{error.detail}}</p>
  {{/each}}
</form>

