{{#if model.filesets}}
  <table class="table table--fixed">
    <thead>
      <tr>
        <td style="width: 150px">Subdomain</td>
        <td style="width: 70px">Commit</td>
        <td style="width: 70px">Branch</td>
        <td></td>
        <td style="width: 250px">Updated</td>
      </tr>
    </thead>
    {{#each model.filesets as |fileset|}}
      <tr>
        <td class="table-cell-clip">
          <div class="text--nowrap"><a href="{{fileset.url}}">{{fileset.subdomain}}</a></div>
        </td>
        <td>
          <div class="text--nowrap">{{fileset.commit.sha_short}}</div>
        </td>
        <td>
          {{fileset.commit.branch}}
        </td>
        <td class="table-cell-clip">
          <div class="text--meta text--nowrap">{{fileset.commit.message}}</div>
        </td>
        <td>
          {{moment-from-now fileset.modified}}
        </td>
      </tr>
    {{/each}}
  </table>
{{else}}
  <div>No builds yet.</div>
{{/if}}
