<h2>Translations › {{model.catalog.name}} ({{model.catalog.locale}})</h2>

{{errors}}
{{error-list errors=errors}}

<div class="margin--bottom">
  {{progress-bar-inline
      class="progress-bar"
      percent=model.catalog.percent_translated}}
</div>

{{#each model.catalog.translations as |translation|}}
  {{translation-row
      translation=translation
      catalog=model.catalog
      handleErrors="handleErrors"}}
{{/each}}
