<div class="breadcrumb">
  <h1>
    {{#link-to "owner" model.owner.nickname}}<img src="{{model.owner.avatar_url}}">{{/link-to}}
    {{#link-to "owner" model.owner.nickname}}{{model.owner.nickname}}{{/link-to}}
    {{if model.project "/"}}
    {{#link-to "project" model.project.nickname}}{{model.project.nickname}}{{/link-to}}
  </h1>
</div>
{{outlet}}
